
/* body {
    padding: 10px;
    background-color: lemonchiffon;
    background-image: url('../images/dark.jpg');
    font-family: Arial, sans-serif;
} */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: lemonchiffon;
    font-family: Arial, sans-serif;
}

header {
    margin-top: 10px;
    background-color: rgb(160, 2, 2);
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}
footer {
    margin-top: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 20px;
    background-color: rgb(160, 2, 2);
    color: whitesmoke;
    padding: 10px;
}

.headerh1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: cursive;
}

a {
    text-decoration: none;
}

.form-container {
    width: 100%;
    max-width: 520px;
    background: #cfbf8e;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12);
    margin: auto;
    margin-bottom: 40px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
}


.field {
    margin-bottom: 10px;
}

.field label {
    display: block;
    margin-bottom: 6px;
    font-weight: 650;
    font-size: 20px;
}

.field input,
.field textarea {
    width: 92%;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.field textarea {
    height: 70px;
    resize: none;
}


header button{
    display: block;
    padding: 15px 30px;
    font-size: 25px;
    background: transparent;
    color: snow;
    border: 2px solid rgb(160, 2, 2);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
    background-color:snow;
    color:  rgb(160, 2, 2);    
}


.savebtn {
    display: block;
    width: 40%;
    margin-left: 30%;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 25px;
    background-color: snow;
    color: rgb(160, 2, 2);
    border: 3px solid rgb(160, 2, 2);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

.savebtn:hover {
    background-color: rgb(160, 2, 2);
    color: snow;
    border: 3px solid whitesmoke;
}


.article_container {
    width: 98%;
    margin: 20px auto;
    margin-top: 30px;
    border-radius: 20px;
    background: #cfbf8e;
    color: black;
    box-shadow: 0 0 5px #000;
    padding: 15px;
}

.article_container:hover{
    color: whitesmoke;
    background-color: rgb(40, 40, 40);
}

.article_container h2 {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 5px;
}

dt {
    font-weight: 600;
    margin-top: 15px;
    font-size: 25px;
}

dd {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 19px;
}

.specific_form {
    max-width: 70%;
    margin: auto;
}

.specific_form .form-container {
    background: #fff;
    margin-bottom: 30px;
}

.specific_form form {
    display: flex;
    gap: 15px;
}

.specific_form dl {
    background: #282727;
    color: whitesmoke;
    padding: 22px;
    border-radius: 14px;
    box-shadow: 0px 0px 10px black;
}


.form-container input{
    border-radius: 20px;
}

.mode{
    display: flex;
    justify-content: end;
}
.mode img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
    padding: 20px;
    border-radius: 50%  ;
}
.mode button{
    background: transparent;
    border: none;
}



.stats-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 40px auto;
    width: 90%;
}

.stat-card {
    flex: 1;
    background: #cfbf8e;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.stat-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.stat-card p {
    font-size: 32px;
    font-weight: bold;
}


.stat-card p {
    transition: transform 0.3s ease;
}

.stat-card:hover p {
    transform: scale(1.1);
}



.stat-link {
    text-decoration: none;
    color: inherit;
    flex: 1;
}

.stat-card {
    cursor: pointer;
    transition: transform 0.35s ease, box-shadow 0.25s ease;
}

.stat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(59, 58, 58, 0.623);
}



.latest-article {
    width: 90%;
    margin: 40px auto;
    padding: 25px;
    background: #cfbf8e;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.latest-article h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 15px;
}

.latest-article h3 {
    font-size: 26px;
    margin-bottom: 5px;
}

.latest-article .author {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
}

.latest-article .description {
    font-size: 18px;
    margin-bottom: 15px;
}

.read-more {
    font-size: 18px;
    font-weight: bold;
    color: rgb(160, 2, 2);
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}
